<form method="post" id="easy_products-products_list" data-submit_callback="{{submit_callback}}">
    <ul>
        {{#products}}
            <li class="easy_products-product" data-id="{{id}}" data-cost="{{cost}}" data-weight="{{weight}}">

                {{#shippingOptions}}
                    <span class="easy_products-shipping_option" data-region_id="{{region_id}}"
                          data-primary_rate="{{primary_rate}}" data-add_on_rate="{{add_on_rate}}"></span>
                {{/shippingOptions}}

                <h3 class="easy_products-product_name">{{name}} </h3>
                <h3 class="easy_products-product_cost">${{cost}}</h3>

                <div class="easy_products-product_details">

                    <img class="easy_products-product_image" src="{{image_url}}">

                    <div class="easy_products-product_description">
                        <p>{{description}}</p>
                        <input class="easy_products-quantity_input" min="0" placeholder="Quantity Desired" name="quantity[{{id}}]" type="number"/>
                        <p class="easy_products-product_total_display" style="display: none">Book Total: $<span class="easy_products-product_total"></span></p>
                    </div>

                </div>
            </li>
        {{/products}}
    </ul>
    <div id="easy_products-shipping_address">


        <h4>Shipping Address</h4>
        <label>Name</label>
        <input type="text" class="shipping_address" name="easy_products-name" id="easy_products-name" placeholder="Enter Name" required/>

        <label>Address</label>
        <input type="text" class="shipping_address" name="easy_products-address_1" id="easy_products-address_1" placeholder="Address Line 1" required/>
        <input type="text" class="shipping_address" name="easy_products-address_2" id="easy_products-address_2" placeholder="Address Line 2"/>

        <label>City</label>
        <input type="text" class="shipping_address" name="easy_products-city" id="easy_products-city" placeholder="City" required/>

        <label>State</label>
        <input type="text" class="shipping_address" name="easy_products-state" id="easy_products-state" placeholder="State" required/>

        <label>Postal Code</label>
        <input type="text" name="easy_products-postal_code" id="easy_products-postal_code" placeholder="Postal Code" required/>

        <label>Country
            <select id="easy_products-country" required data-blank_value="Select Country">
                <option disabled selected>Select Country</option>
                {{#regions}}
                    <option value="{{id}}">{{name}}</option>
                {{/regions}}
            </select>
        </label>

        <p>Subtotal: <span id="easy_products-subtotal">$0.00</span></p>
        <p>Shipping Total: <span id="easy_products-shipping_total">Please Enter Your Shipping Address</span></p>
        <p>Total: <span id="easy_products-total">Please Enter Your Shipping Address</span></p>

        <input disabled type="submit" id="easy_products-submit" value="{{submit_button_text}}"/>
    </div>
</form>