<form method="post" id="easy_products-products_list">
    <ul>
        {{#products}}
            <li class="easy_products-product" data-id="{{id}}" data-cost="{{cost}}" data-weight="{{weight}}">

                {{#shippingOptions}}
                    <span class="easy_products-shipping_option" data-region_id="{{region_id}}"
                          data-primary_rate="{{primary_rate}}" data-add_on_rate="{{add_on_rate}}"></span>
                {{/shippingOptions}}

                <img src="{{image_url}}">
                <h3>{{name}} <span>${{cost}}</span></h3>
                <input class="easy_products-quantity_input" min="0" placeholder="Quantity Desired" name="quantity[{{id}}]" type="number"/>
                <p class="easy_products-product_total_display" style="display: none">Book Total: $<span class="easy_products-product_total"></span></p>
                <p>{{description}}</p>
            </li>
        {{/products}}
    </ul>
    <h4>Shipping Address</h4>
    <input type="text" name="easy_products-name" placeholder="Enter Name" required/>
    <input type="text" name="easy_products-address_1" placeholder="Address Line 1" required/>
    <input type="text" name="easy_products-address_2" placeholder="Address Line 2"/>
    <input type="text" name="easy_products-city" placeholder="City" required/>
    <input type="text" name="easy_products-postal_code" placeholder="Postal Code" required/>
    <input type="text" name="easy_products-state" placeholder="State" required/>

    <label>Country
        <select>
            {{#regions}}
                <option value="{{id}}">{{name}}</option>
            {{/regions}}
        </select>
    </label>
    <input type="submit" value="{{submit_button_text}}"/>
</form>