<div id="poststuff">
    <form id="post-body" class="metabox-holder columns-2" method="post">

        <input type="hidden" name="action" value="edit"/>
        <!-- Content -->
        <div id="post-body-content">

            <ul id="order_details">
                <li>
                    <label for="name">Customer Name</label>
                    <input type="text" name="name" size="30" value="{{name}}" id="name" autocomplete="off">
                </li>

                <li>
                    <label for="address_line_1">Address Line 1</label>
                    <input type="text" name="address_line_1" size="30" value="{{address_line_1}}" id="address_line_1" autocomplete="off">
                </li>

                <li>
                    <label for="address_line_2">Address Line 2</label>
                    <input type="text" name="address_line_2" size="30" value="{{address_line_2}}" id="address_line_2" autocomplete="off">
                </li>

                <li>
                    <label for="address_line_2">Address Line 2</label>
                    <input type="text" name="address_line_2" size="30" value="{{address_line_2}}" id="address_line_2" autocomplete="off">
                </li>

                <li>
                    <label for="postal_code">Postal Code</label>
                    <input type="text" name="postal_code" size="30" value="{{postal_code}}" id="postal_code" autocomplete="off">
                </li>

                <li>
                    <label for="state">State</label>
                    <input type="text" name="state" size="30" value="{{state}}" id="state" autocomplete="off">
                </li>

                <li>
                    <label for="amount">Payment Amount</label>
                    <input type="text" name="amount" size="30" value="{{amount}}" id="amount" autocomplete="off">
                </li>

                <li>
                    <label for="region">Country</label>
                    <select name="region_id" id="region">
                        <option disabled selected>Select Country</option>
                        {{#regions}}
                            <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/regions}}
                    </select>
                </li>

                <li>
                    <label for="reference_number">Reference Number</label>
                    <input type="text" name="reference_number" size="30" value="{{reference_number}}" id="reference_number" autocomplete="off">
                </li>

                <li>
                    <h3>Products Purchased</h3>

                    <ul id="products_purchased">

                        {{#products}}
                            <li>
                                <h4>{{name}}</h4>

                                <label for="quantities[{{order_product_id}}]">Amount Purchased</label>
                                <input type="number" name="quantities[{{order_product_id}}]" size="30" value="{{quantity}}" id="amount" autocomplete="off">

                            </li>
                        {{/products}}

                    </ul>
                </li>
            </ul>

        </div>

        <!-- SIDEBAR -->
        <div id="postbox-container-1" class="postbox-container">
            <div id="side-sortables" class="meta-box-sortables ui-sortable">
                <div id="slider-unique-options" class="postbox">
                    <h3 class="hndle"><span>Order Status</span></h3>
                    <ul id="unique-options-list">

                        <li>
                            <label for="shipped">Shipped</label>
                            <input type="hidden" name="shipped" value="off">
                            <input type="checkbox" name="shipped" id="shipped" {{#shipped}}checked{{/shipped}}>
                        </li>
                    </ul>

                    <div id="major-publishing-actions">
                        <div id="publishing-action">
                            <input type="submit" value="Save Order" id="save-buttom" class="button button-primary button-large">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
