<div id="poststuff">
    <form id="post-body" class="metabox-holder columns-2" method="post">

        <input type="hidden" name="action" value="save"/>
        <!-- Content -->
        <div id="post-body-content">

            <ul id="product_details" class="model_fields">
                <li>
                    <label for="name">Name</label>
        <input type="text" name="name" size="30" value="{{#product}}{{name}}{{/product}}" id="name" autocomplete="off">
                </li>



                <li>
                    {{{description}}}
                </li>

                <li>
                    <label for="image_url">Image</label>
                    <input type="text" name="image_url" id="image_url" class="regular-text" value="{{#product}}{{image_url}}{{/product}}">
                    <input type="button" name="upload-btn" id="upload-btn" class="button-secondary" value="Upload Image">
                </li>


                <li>
                    <label for="weight">Weight</label>
                    <input type="text" name="weight" size="30" value="{{#product}}{{weight}}{{/product}}" id="weight" autocomplete="off">
                </li>

                <li>
                    <label for="cost">Cost</label>
                    <input type="text" name="amount" size="30" value="{{#product}}{{cost}{{/product}}}" id="cost" autocomplete="off">
                </li>

                <li>
                    <label for="shipping_rates">Shipping Rates <button id="btn_add_shipping_rate">+</button></label>
                    <ul id="shipping_rates">
                        <li>
                            Default Shipping Rate
                            <label for="default_primary_rate">Primary Rate</label>
                            <input required type="number" name="default_primary_rate" id="default_primary_rate" value="{{#default_rate}}{{primary_rate}}{{/default_rate}}">
                            <label for="default_add_on_rate">Add On Rate</label>
                            <input required type="number" name="default_add_on_rate" id="default_add_on_rate" value="{{#default_rate}}{{add_on_rate}}{{/default_rate}}">
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

        <!-- SIDEBAR -->
        <div id="postbox-container-1" class="postbox-container">
            <div id="side-sortables" class="meta-box-sortables ui-sortable">
                <div id="slider-unique-options" class="postbox">
                    <h3 class="hndle"><span>Product Status</span></h3>
                    <ul id="unique-options-list">

                        <li>
                            <label for="shipped">Active</label>
                            <input type="hidden" name="active" value="off">
                            <input type="checkbox" name="active" id="active" {{#product}}{{#active}}checked{{/active}}{{/product}}>
                        </li>
                    </ul>

                    <div id="major-publishing-actions">
                        <div id="publishing-action">
                            <input type="submit" value="Save Product" id="save-buttom" class="button button-primary button-large">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
