#easy_products-products_list {

  ul {
    list-style: none;
    padding: 0;

    .easy_products-product_details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (min-width: 784px) {
        flex-direction: row;
        align-items: flex-start;

        .easy_products-product_image,
        .easy_products-product_description {
          width: 48%;
        }
      }
    }
  }
}
